{% extends 'base.html' %}
{% load static %}
{% block subheading %} {{object.name}} Recipe {% endblock %}

{% block content %}

<a href="{% url 'ledger:image-upload' pk=object.pk %}">Upload an image</a>

{% if object.images %}
    {% for image in object.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}
{% endif %}

<p>
    Written by {{object.author}}
</p>

<p>
    Created on: {{ object.created_on }} <br>
    Updated on: {{ object.updated_on }}
</p>

<b>Ingredients:</b>
<ul>
    {% for ingredient in object.ingredients.all %}
    <li>
        {{ ingredient.ingredient_Type.name }} ({{ ingredient.quantity }})
    </li>
    {% endfor %}
</ul>


<br><br><br>
<button type="submit">
    <p><a href="{% url 'ledger:recipe-list' %}">Back to recipe list</a></p>
</button>

{% endblock %}