{% extends 'base.html' %}

{% block subheading %} {{object.name}} Recipe {% endblock %}

{% block content %}

<p>
    Written by {{object.author}}
</p>

<p>
    Created on: {{ object.created_on }}
    <br> Updated on: {{ object.updated_on }}
</p>

<b>Ingredients:</b>
<ul>
    {% for ingredient in object.ingredients.all %}
    <li>
        {{ ingredient.ingredient_Type.name }} ({{ ingredient.quantity }})
    </li>
    {% endfor %}
</ul>

<br><br><br>
<button type="submit">
    <p><a href="{% url 'ledger:recipe-list' %}">Back to recipe list</a></p>
</button>

{% endblock %}